@import "../../index.scss";

.navbar-search {
  position: relative;

  .search-bar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: black solid 1px;
    padding: 5px;
    border-radius: 20px;

    input {
      border: none;
      background: none;
      color: black;
      outline: none;
      padding: 5px;
      flex: 1;

      @include tablet {
        width: 160px;
      }
      @include mobile {
        height: 17px;
        width: 120px;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }

    .close-button {
      background: none;
      border: none;
      color: black;
      cursor: pointer;
      font-size: 20px;
      padding: 0 10px;
    }
  }

  .search-results {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;

    .search-result-item {
      padding: 10px;
      cursor: pointer;

      &:hover {
        background-color: #f1f1f1;
      }
    }
  }

  @include mobile {
    button {
      display: block;
    }
  }
}
.search-result-item {
  font-size: 16px;
  // font-style: italic; /* Italic text */
  margin: 8px 0;
}

.in-span {
  font-size: 0.7em;
}

.category-span {
  font-size: 0.7em; /* Smaller text */
  font-style: italic;
  color: gray; /* Gray color */
}

.search-result-item.highlighted {
  border: 2px solid tomato;
  margin: 2px;
  border-radius: 5px;
  background-color: #ffecec;
}
