@import "../../index.scss";

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38vw;

  @include mobile {
    height: 100%;
    flex-direction: column;
    margin: 10px auto;
    gap: 10px;
  }

  .header-img {
    max-width: 100%;
    height: 90%;


    @include mobile {
      max-width: 80%;
      height: 70%;
    }
  }

  .header-contents {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 1.5vw;
    margin: auto 0;
    animation: fadeIn 3s;
    margin: 2vw 0;

    @include mobile {
      margin: auto;
      max-width: 80%;
      gap: 8px;
    }

    h2 {
      font-weight: 500;
      font-size: max(4vw, 20px);

      @include mobile {
        font-size: 20px;

        br {
          display: none;
        }
      }

      span {
        color: #eb0029;
      }
    }
    p {
      font-size: 1.5vw;
      max-width: 80%;

      @include mobile {
        max-width: 60%;
        font-size: 12px;
      }
    }

    button {
      border: none;
      color: white;
      padding: 1vw 2.3vw;
      background-color: #eb0029;
      font-size: max(1vw, 13px);
      border-radius: 50px;
      font-size: max(1.4vw, 14px);

      @include tablet {
        padding: 7px 20px;
        font-size: 15px;
      }
      @include mobile {
        padding: 5px 10px;
        font-size: 8px;
      }

      &:hover {
        background-color: #ffffff;
        color: #eb0029;
        outline: 1px solid #eb0029;
      }
    }
  }
}
